/*styling for the whole body*/
/*Color palette:

all links: rgb(161,183,201);
hover: rgb(3,25,30);
*/



*{
  padding: 0px; margin: 0px; box-sizing: border-box; text-decoration: none;
}

/*font styling reference*/
h1 {font-family: 'Lato', sans-serif; font-size: 42px; font-weight: 900; line-height: 50px;}
h2 {font-family: 'Lato', sans-serif; font-size: 24px; font-weight: 700; line-height: 36px;}
h3 {font-family: 'Lato', sans-serif; font-size: 22px; font-weight: 700; line-height: 28px;}
h4 {font-family: 'Lato', sans-serif; font-size: 20px; font-weight: 700; line-height: 28px;}
h5 { font-family: 'Lato', sans-serif; font-size: 19px; font-weight: 400;line-height: 24px;}
p { font-family: 'Lato', sans-serif; font-size: 17px; font-weight: 400; line-height: 26px;}
blockquote { font-family: 'Lato', sans-serif; font-size: 17px; font-weight: 400; }
pre { display: inline-block; padding: 3px; margin: 2px 5px 5px 0px; font-family: 'Lato', sans-serif; font-size: 11px; font-weight: 400; border: solid rgb(170,170,170) 1px; border-radius: 3px;}


html, body{
  font-family: 'Lato', sans-serif;
  color: rgb(110,110,110);
}

img{
  max-width: 100%;
}

p a{
  color: rgb(161,183,201);
  transition: 0.3s ease-in;
}

p a:hover{
  color:rgb(3,25,30);
}


.center-aligned{
  text-align: center;
}


/*styling for the header*/
header{
  padding:1% 2% 0% 2%;
  display: block;
  text-align: left;

}


/*styling for the top left logo*/
nav{
  display: block;
  text-decoration: none;
  position: relative;
  text-align: left;
}

.logo{
  opacity: 0.4;
  transition: opacity 1s;
  display:inline-block;
  width:26%;
}

.logo:hover{
  opacity:1;
}

/*nav bar*/

nav li{
  display:none;
  margin:0% 4%;
  text-align: center;
  list-style-type: none;
  font-size: 20px;
}

/*here it styles the current tab*/
.current-nav-tab a{
  font-weight: 400;
  text-decoration: none;
  color: #000000;
  background-color: rgb(250,250,250);
}

/*here are the rest navs*/
.other-nav-tab > a{
  font-weight: 300;
  text-decoration: none;
  color: rgba(62, 68, 67, 0.85);
  transition:  0.3s ease-in;
  text-align: center;
}

.other-nav-tab > a:hover{
  background-color: rgb(250,250,250);
}

/*nav icon*/
.nav-icon{
  text-decoration: none;
  font-size: 30px;
  color: rgba(62, 68, 67, 0.85);
  display: block;
  float: right;
  margin-top: 20px;
  margin-right: 20px;
}


.topnav .topnav-expand .nav-icon{
  display: block;
}

.topnav-expand > li{
  display: block;
  line-height: 40px;
  float: none;
  text-align: center;
}

.topnav-expand .current-nav-tab{
  background: rgb(250,250,250);
}
.topnav-expand .other-nav-tab:active{
  font-weight: 400;
  background: rgb(250,250,250);
}

/*main area*/
main{
  padding: 3% 2% 3% 2%;
  background:rgb(250,250,250);
  text-align: center;
}

main p{
  text-align: left;
}


.page-description{
  text-align: center;

}


/*flex-box in main*/

.flex-row{
  display:flex;
  flex-wrap:wrap;
  padding:4px;
  align-items: flex-start;
  justify-content: center;
}

/*flex-box for and more page*/
.flex-row>img{
  margin: 5pt 10pt;
  opacity: 0.7;
  transition: 0.5s ease-in;
}

.flex-row>img:hover{
  opacity: 1;
}




/*project rows*/




/*index project cards*/
.project-box{
  display:block;
  padding:20px;
  width:300px;
  margin: 20px;
  vertical-align: bottom;
  opacity: 1;
  position: relative;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
  transition:0.2s ease-in;
}

.project-box a{
  color: rgb(110,110,110);
}

.project-box:hover,.project:active{
  box-shadow: none;
  opacity: 0.9;
}


.project-box-img{
  display: block;
}

.project-box-description{
  display:block;
  margin:auto;
}
.project-box-description h4{
  padding:5px 0px;
}
.project-box-description p{
  padding:5px 0px;
}

.project-namebox{
  text-decoration: none;
  color: rgb(250, 241, 241);
}

.project-box-keyword{
  text-align: left;
  margin-top:5px;
}

/*individual project page*/

.project-nav-back{
  padding-left: 10px;
  text-align: left;
  transition:  0.5s ease-in;
}
.project-nav-back>a{
  color: rgb(161,183,201);
  transition:  0.5s ease-in;
}
.project-nav-back>a:hover{
  color: rgb(3,25,30);
}

.project-top{
  display:flex;
  justify-content: center;
  flex-wrap:wrap;
}
.project-topic{
  display: block;
  text-align: left;
  padding: 20px;
}

.project-name{
  padding: 0px 0px 20px 0px;
  text-align: center;
}
.project-description{
  color:rgb(135,135,135);
}
.project-topimg{
  padding: 20px;
  display: block;
  opacity: 0.7;
}

.project-content{
  text-align: center;
}

.project-content img{
  display:block;
  padding: 10px 0px 10px 0px;
  max-width: 100%;

}


.project-content-nav{
  display:none;
}

.project-content-text{
  display:block;
  padding:20px;
}
.project-content-section-name{
  padding:10px 0px 10px 0px;
  text-align: center;
}
.project-content-text h4{
  text-align: left;
}
.project-content-text li{
  font-size: 17px;
  line-height: 26px;
  text-align: left;
}


/*Graphics page - modal*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
}
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: 700;
    transition: 0.3s;
}
.close:hover,.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


/*footer area*/

footer{
  width: 100%;
  margin: 0px auto;
  text-align: center;
  color: rgb(111, 111, 110);
  background-color: white;
  bottom:0;
}

a .fab{
  color: rgb(161,183,201);
  transition:  0.5s ease-in;
}

a .fab:hover{
  color: rgb(3,25,30);
}


/*About page*/
#about-img{
  display: block;
  opacity:0.7;
}

#about-content{
  display:block;
  margin: 0 auto;
  padding:10px;
  width:90%;
}
#about-content h5{
  text-align: left;
}

/*Media queries*/

/*for tablets*/
@media only screen and (min-width : 768px)
{
  .topnav li{
    display:inline-block;
    line-height: 50px;
    vertical-align: bottom;
  }

  .current-nav-tab{
  background: rgb(250,250,250);

  }


  .other-nav-tab:active{
    font-weight: 400;
    background: rgb(250,250,250);
  }

  .nav-icon{
    display:none;
  }

  .project-box{
    opacity:0.7;
  }
  .project-top{
    display:flex;
    justify-content: center;
    width:0 auto;
  }
  .project-topic{
    display: inline-block;
    width:40%;
  }

  .project-topic.psycholinguistics{
    width:88%;
    text-align: center;
  }
  .project-name{
    display:inline-block;
    text-align: left;
  }
  .project-name.psycholinguistics{
    text-align: center;
  }
  .project-description{
    display:inline-block;
  }
  .project-description.psycholinguistics{
    display:inline-block;
    padding:10px;
  }
  .project-topimg{
    display: inline-block;
    opacity: 0.7;
    width:48%;
  }
  .project-content{

  }
  .project-content img{
    width:auto;
  }

  .project-content-text{
    display:inline-block;
    text-align: left;
    width: 88%;
  }
  .project-content-section-name{
    text-align: left;
  }

  /*flex-box for graphics page*/
  .flex-row>.graphics-img{
    height:300px;
  }


  #about-content{
    padding:20px;
    width:60%;
  }
}
/*for laptops*/
@media only screen and (min-width : 1024px)
{
  .topnav li{
    margin:0% 5%;
    font-size: 20px;
    line-height: 22px;
  }
  .other-nav-tab:active{
    background: rgb(250,250,250);
  }
  .flex-column{
    flex:25%;
    max-width: 25%;
  }

}
