/*styling for the whole body*/
/*Color palette:


blue-grey: rgb(217,227,228)
*/



*{
  padding: 0px; margin: 0px; box-sizing: border-box; text-decoration: none;
}

/*font styling refernce*/
h1 {font-family: 'Merriweather Sans', sans-serif; font-size: 28px; font-weight: 900; line-height: 42px;}
h2 {font-family: 'Merriweather Sans', sans-serif; font-size: 22px; font-weight: 700; line-height: 42px;}
h3 {font-family: 'Merriweather Sans', sans-serif; font-size: 22px; font-weight: 300; line-height: 40px;}
h4 {font-family: 'Merriweather Sans', sans-serif; font-size: 20px; font-weight: 300; line-height: 36px;}
h5 { font-family: 'Merriweather Sans', sans-serif; font-size: 17px; font-weight: 700;line-height: 30px;}
h6 { font-family: 'Merriweather Sans', sans-serif; font-size: 14px; font-weight: 300;line-height: 26px;}
p{ font-family: 'Merriweather Sans', sans-serif; font-size: 16px; font-weight: 300; line-height: 30px;}
blockquote { font-family: 'Muli', sans-serif; font-size: 18px; font-style:italic; font-weight: 300; margin: 30px 0px; border-left: 5pt solid #AB70E7; padding: 0px 0px 0px 20px; line-height: 36px;}
.pre { font-family: 'Merriweather Sans', sans-serif; font-size: 12px; font-weight: 300; color:#A89CC6;}
b {font-weight: 700;}





html, body{
  font-family: 'Merriweather Sans', sans-serif;
}

p>a {
  font-weight: 400;
  border-bottom: 2px solid #CBADFF;
  margin-bottom: -5px;
  color: #000000;
}

h6>a {
  font-weight: 400;
  border-bottom: 2px solid #CBADFF;
  margin-bottom: -5px;
  color: #000000;
}


.lists{
  padding: 20px;
  font-family: 'Merriweather Sans', sans-serif; font-size: 16px; font-weight: 300; line-height: 30px;
}

/*skip to content css*/
.skip {
        position: absolute;
        top: -1000px;
        left: -1000px;
        height: 1px;
        width: 1px;
        text-align: left;
        overflow: hidden;
    }

a.skip:active,
a.skip:focus,
a.skip:hover {
    left: 0;
    top: 0;
    width: auto;
    height: auto;
    overflow: visible;
}

img{
  max-width: 100%;
}

/*add padding for all mobile sections, side padding: 0px 16px*/



/* nav bar */


.progress{
  background-color: #FFFFFF;
  height:5px;
  width:100%;
  position: fixed;
  z-index:999;
  top:0px;
}

.progress-bar{
  background: #E7E1FB;
  background: #CBADFF;
  height:5px;
  width:0px;
}

header{
  /*border-top: 10px solid #FFA8A9;*/
  position:fixed;
  top:5px;
  padding: 0px 16px;
  width:100%;
  background-color: white;
  box-shadow: 0px 0px 10px #D5D5D5;
  z-index: 998;
  transition: top 0.3s;
}


.topnav{
  padding:10px 0px 10px 0px;
  display: block;
  text-decoration: none;
  position: relative;
  width:100%;
  text-align: center;
  transition: top 0.3s;
/*  z-index: 99;*/
}

.logo{
  transition: 1s;
  display:inline-block;
  max-height: 50px;
}

/*nav icon*/
.nav-icon{
  text-decoration: none;
  font-size: 28px;
  display: block;
  position:absolute;
  right: 0px;
  top:15px;
  z-index: 100;
  color:black;
}

/*nav bar*/

nav ul li{
  display:none;
  text-align: right;
  list-style-type: none;
  z-index:-1;
}

/*here it styles the current tab*/
.current-nav-tab a h6{
  text-decoration: none;
  color: #9313E9;
  border-bottom: 2px solid #C57FE6;
}

/*here are the rest navs*/
.other-nav-tab a h6{
  text-decoration: none;
  transition:  0.3s ease-in;
  color: black;
  border-bottom: 2px solid white;
}

.other-nav-tab > a h6:hover{
  color: #9313E9;
  border-bottom: 2px solid #C57FE6;
}




.topnav-expand{
  display: block;
}



.topnav-expand > ul > li{
  display: block;
  line-height: 40px;
}

/*main area flex box*/

main{
  display: block;
  max-width: 100%;
  margin: auto;
  margin-top: 77px;
}

.flex-container{
  display:flex;
  padding: 40px 16px 40px 16px;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-container-short{
  display:flex;
  padding: 20px 16px 20px 16px;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-column{
  display:flex;
  flex-direction: column;
  width: 100%;
}

.flex-column a img{
  width: 90%;
}


.flex-box{
  max-width: 100%;
  margin: 30px;
  text-align: left;
  display:block;
}

.flex-box img{
  max-width: 100%;
}

.flex-col-4{
  width:70%;
  margin:20px;
  text-align:left;
  display:block;
}

.flex-col-3{
  width:70%;
  margin:20px;
  text-align:left;
  display:inline-block;
}

.flex-col-6{
  width:70%;
  margin:20px;
  text-align:left;
  display:inline-block;
}

.full-flex-title{
  text-align: center;
}


#welcome{
  max-width: 100%;
}
.welcomeimg{
  width:100%;
  margin: 0;
  text-align: right;
  background-color: none;
}

/*roundbox*/

.roundbox{
  position:relative;
  width:100%;
  z-index: 80;
}



.roundtext{
  padding: 20px 20px;
  text-align: left;
  width: 80%;
  color: #401F94;
}

.title{
  font-family: 'Merriweather Sans', sans-serif; font-size: 28px; font-weight: 900; line-height: 40px;
  display:inline-block;
  margin-bottom: 10px;
  color:#000000;
}

.subtitle{
  color: #494949;
}

#name{
  font-family: 'Merriweather Sans', sans-serif; font-size:30px; font-weight: 900; line-height: 44px;
  display:block;
  color: #A000FB;
}

.section-description-right{
  display:flex;
  align-items: center;
  width:70%;
  max-width:100%;
}


.section-description-left{
  display:flex;
  align-items: center;
  width:70%;
  max-width:100%;
}

/*project box*/

.project-box-img-container{
  display: block;
  position:relative;
  text-align: center;
}

.project-box-img{
  max-width: 100%;
  box-shadow: 0px 0px 50px rgba(161,168,216,0.4);
}

.project-box-title{
  margin: 10px auto;
  color: black;
  width: 350px;
  max-width:100%;
}

.project-box-overlay{
  display:block;
  opacity: 0.95;
  position: absolute;
  margin:auto;
  bottom: 0;
  left: 0;
  right:0;
  overflow: hidden;
  padding-left: 10px;
  max-width: 351px;
  height: 0;
  transition: .5s ease;
}

.project-box-overlay-text{
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: left;
}

.project-box-img-container:hover .project-box-overlay{
  height: 100%;
  padding-right: 10px;
}

.project-box-img-container:hover .project-box-img{
  box-shadow: none;
}





.project-box-left{
  width:100%;
  max-width:100%;

}
.project-box-right{
  width:100%;
  max-width:100%;


}

/*about page*/

#self{

  box-shadow: 10px 10px #FF7F72;
  margin: auto;
}

#site{
  max-width: 500px;
  width:100%;

}

/*project page*/

.btn-primary{
  padding: 5px 15px;
  border-radius: 25px;
  border: 1px solid #DDD1F9;
  background-color: #FCFCFC;
  transition: all 0.3s ease-in;
}

.btn-primary > a {
  font-family: 'Merriweather Sans', sans-serif; color: #494949; font-size: 14px; font-weight: 300; line-height: 30px;
}

.btn-primary:hover, .btn-primary:active .btn-primary:focus {
  background-color: #F8F9FF;
  border: 1px solid #A584EF;
  transition: all 0.3s ease-in;
}


.project-banner{
  width: 300px;
}

.full-section-text{
  display:block;
  margin:20px;
  width:70%;
  max-width:690px;
}

.project-wide-img{
  display:block;
  max-width: 100%;
}

#side-nav{
    display: none;
}



/* Media queries -- tablet, side-padding: 0 5%*/
@media only screen and (min-width : 800px)
{
  body{

  }

  /*top nav*/
  header{
    padding: 0 5%;
  }

  .nav-icon{
    display:none;
  }

  .topnav{
    text-align: center;
  }


  #nav-items{
    display:block;
    position:absolute;
    vertical-align: bottom;
    text-align: right;
    width: 30%;
    right: 0%;
    top:30%;
    z-index:101;
  }



  .tab-item{
    display:inline-block;
    vertical-align: bottom;
    padding-left: 15%;
  }

  /*main content*/
  main{

  }

  .flex-container{
    padding: 60px 5%;
    justify-content: space-between;
  }

  .flex-container-short{
    padding: 10px 5%;
    justify-content: space-between;
  }

  .flex-box{
    width: 49%;
    max-width: 49%;
    text-align: left;
    margin: 40px 0px;
  }

  .flex-column{
    display:flex;
    flex-direction: column;
    width: 49%;
  }

  .flex-column a img{
    width: 100%;
    max-width: 100%;
    margin-bottom: 10px
  }

  .flex-col-4{
    width: 30%;
    text-align: left;
    margin:20px 0px;
  }

  .flex-col-3{
    width:23%;
    margin:20px 0px;
  }

  .flex-col-6{
    width:49%;
    margin:20px 0px;
    text-align:center;
  }



  .full-flex-title{
    text-align: left;
    width:100%;
    max-width: 100%;
  }

  #welcome{
    padding: 0;
    max-width: 350px;
  }


  .roundbox{
    background-color: #FFFFFF;
    border-radius: 50%;
    width: 100%;
    display:flex;
    align-items: center;
    color: #000000;
    box-shadow: 10px 0px #CBADFF;
  }


  .roundbox:after{
    padding-bottom: 100%;
    content: "";
    display: block;
    z-index:81;
  }

  .roundtext{
    position: absolute;
    padding:40px;
    width: 100%;
    height: 100%;
    z-index: 82;
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
  #name{
    width:100%;
    display:block;
    text-align: left;
  }
  #subname{
    width:100%;
    text-align: left;
    vertical-align: middle;
  }

  .section-description-right{
    padding-left: 2%;
    width:49%;
  }

  .section-description-left{
    padding-right: 2%;
    width:49%;
  }

  .subtitle{
    width:350px;
    margin:auto;
  }

  .project-box-left{
    padding-right:2%;
    width:49%;

  }

  .project-box-right{
    padding-left:2%;
    width:49%;

  }

  .flex-box-text{
    /*margin:auto;*/
  }

/*project page*/
  .project-banner{
    width: 100%;
    max-width: 500px;
  }

  .full-section-text{
    margin:20px auto;
    width:690px;
    display:block;

  }



}

/* Media queries -- laptops */
@media only screen and (min-width : 1024px)
{
  /*main content*/
  header{
    padding: 0 12%;
  }

  .topnav{
    text-align: center;

  }

  /*main content*/
  main{

  }
  .flex-container{
    padding: 70px 12%;
  }

  .flex-box{
    text-align: left;
  }


  /*side-nav*/
    #side-nav{
        display: block;
        position: fixed;
        top:30%;
        left:20px;
        background-color: rgba(255,255,255,0.5);
    }

    #side-nav nav a {
        color: #F0EDF1;
        display: block;
        padding: 0px 10px;
        margin-left: 5px;
        text-align: left;
    }

    #side-nav nav a h6{
        line-height: 20px;
        margin: 5px 0px;
    }
    #side-nav nav a:hover{
        color: #898989;
    }

    #side-nav nav a.active {
        border-left: 5px dotted #CBADFF;
        margin-left: 0px;
        color: #898989;
    }


}

/* Media queries -- HD screen */
@media only screen and (min-width : 1440px)
{
  /*top nav*/
  header{
    padding: 0 20%;
  }

  .topnav{
    padding: 10px 20%;
  }

  /*main content*/
  main{

  }

  .flex-container{
    padding: 80px 20%;
  }

  .flex-container-short{
    padding: 20px 20%;
  }


  .roundbox{
    width: 70%;
  }




}

/* Media queries -- HD screen */
@media only screen and (min-width : 2000px)
{
  .roundbox{
    width: 40%;
  }
  .section-description-right{
    padding-left: 5%;
  }

  .section-description-left{
    padding-right: 5%;
  }


  .project-box-left{
    padding-right:5%;
  }

  .project-box-right{
    padding-left:5%;
  }



  .project-box-right .project-box-img-container{
    text-align: left;
  }
  .section-description-right .subtitle{
    margin-left:0px;
  }
  .project-box-right .project-box-title{
    text-align:left;
    margin: 10px 0px;
  }
  .project-box-right .project-box-overlay{
    margin:0px;
  }
  .project-box-left{
    text-align: right;
  }
  .project-box-left .project-box-img-container{
    text-align: right;
  }
  .section-description-left .subtitle{
    margin-right:0px;
  }
  .project-box-left .project-box-title{
    margin-right:0px;
    text-align: left;
  }
  .project-box-left .project-box-overlay{
    margin-right:0px;
  }
}


/*styling*/

/*bg colors*/

.bg-white-transparent{
  background: rgba(255,255,255,0.8)
}


.bg-light-grey{
  background-color: #EFF4F6;
}

.bg-topbanner{
  background-color: #F4F5FF;
}

.bg-grey-red{
  background-color: #CDABBE;
}

.bg-coral{
  background-color: #FA6E61;
}

.bg-lightblue{
  background-color: #F5FFFF;
}

.bg-bluewhite{
  background-color: #F4F5FF;
}

.bg-lightpink{
  background-color: #FFF2FD;
}

.bg-lightcoral{
  background-color: #FFF5F4;
}

.bg-lightbluegreen{
  background-color: #EBFEFB;
}

.bg-lightpurple{
  background-color: #C57FE6;
}

.bg-darkbluepurple{
  background-color: #9313E9;
}

.bg-blue-tint{
  background-color: #E5FFFE;
}

.bg-purple-tint{
  background-color: #E7E1FB;
}

.bg-light-yellow{
  background-color: #FFFBE8;
}

.bg-pink-tint{
  background-color: #FADDE8;
}

.bg-coral-tint{
  background-color: #FFDFDC;
}

.bg-redcoral{
  background-color: #FF7F72;
}





/*text color*/

.text-white{
  color:white;
}

.text-darkgrey{
  color:#494949;
}

.text-blue{
  color: #2CCDDA;
}

.text-purple-tint{
  color: #E7E1FB;
}

.text-lightpurple{
  color:#C57FE6;
}

.text-orange{
  color:#FB9E20;
}

.text-bluegreen{
  color:#98DDDE;
}

.text-pink{
  color: #FF467F;
}

.text-coral{
  color: #FF7777;
}

/*shape*/

.right-sharp{
  border-radius: 50px 0px 50px 50px;

}

/*alignment*/
.align-center{
  text-align: center;
}


.align-top{
  display:block;
}

.middle{
  margin:auto;
  display:block;
}

.flex-center-align{
  display:flex;
  align-items: center;
}

.flex-row-reverse{
  flex-direction: row-reverse;
}


/*margin & padding*/
.margin-right{
  margin-right: 2%;
}

.margin-left{
  margin-left: 2%;
}

.padding-right{
  padding-right: 2%;
}

.padding-left{
  padding-left:2%;
}

.padding-around{
  padding: 10px;
}


/*size*/

.full-width{
  width:100%;
  max-width: 100%;
}

.width-70{
  width:70%;
}

}
