body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1899_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:622px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1899 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:622px;
  display:flex;
}
#u1899 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1899_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1900_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:622px;
}
#u1900 {
  border-width:0px;
  position:absolute;
  left:-59px;
  top:0px;
  width:466px;
  height:622px;
  display:flex;
  opacity:0.6;
}
#u1900 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1900_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1901_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:622px;
  background:inherit;
  background-color:rgba(5, 5, 5, 0.250980392156863);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1901 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:622px;
  display:flex;
}
#u1901 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1901_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1902_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:532px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1902 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:45px;
  width:299px;
  height:532px;
  display:flex;
}
#u1902 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1902_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1903_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:53px;
  height:5px;
}
#u1903 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:71px;
  width:50px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u1903 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1903_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1904_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:53px;
  height:5px;
}
#u1904 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:45px;
  width:50px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u1904 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1904_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1905 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1906_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:53px;
  height:5px;
}
#u1906 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:549px;
  width:50px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u1906 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1906_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1907_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:53px;
  height:5px;
}
#u1907 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:575px;
  width:50px;
  height:2px;
  display:flex;
}
#u1907 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1907_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1908 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1909_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:53px;
  height:5px;
}
#u1909 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:549px;
  width:50px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u1909 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1909_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1910_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:53px;
  height:5px;
}
#u1910 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:575px;
  width:50px;
  height:2px;
  display:flex;
}
#u1910 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1910_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1911 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1912_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:53px;
  height:5px;
}
#u1912 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:71px;
  width:50px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u1912 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1912_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1913_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:53px;
  height:5px;
}
#u1913 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:45px;
  width:50px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u1913 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1913_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1914 {
  position:absolute;
  left:87px;
  top:226px;
}
#u1914_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:201px;
  height:209px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1914_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1915 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1916_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:215px;
  height:223px;
}
#u1916 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:209px;
  display:flex;
}
#u1916 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1916_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1917_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:132px;
}
#u1917 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:19px;
  width:132px;
  height:132px;
  display:flex;
}
#u1917 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1917_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1918_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#1B9AAA;
}
#u1918 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:171px;
  width:37px;
  height:19px;
  display:flex;
  font-family:'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#1B9AAA;
}
#u1918 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u1918_text {
  border-width:0px;
  white-space:nowrap;
}
#u1919_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#98F9FC;
}
#u1919 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:16px;
  width:44px;
  height:19px;
  display:flex;
  font-size:16px;
  color:#98F9FC;
}
#u1919 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u1919_text {
  border-width:0px;
  white-space:nowrap;
}
#u1920 {
  position:fixed;
  left:0px;
  bottom:0px;
  width:375px;
  height:100px;
}
#u1920_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:100px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1920_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1921 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1922_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px -3px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:0px -3px 5px rgba(0, 0, 0, 0.2);
  box-shadow:0px -3px 5px rgba(0, 0, 0, 0.2);
}
#u1922 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:27px;
  width:375px;
  height:72px;
  display:flex;
}
#u1922 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1922_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1923 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:27px;
  width:61px;
  height:72px;
}
#u1923_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:72px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1923_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1924 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:72px;
}
#u1924_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:72px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1924_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1925 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1926_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1926 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:48px;
  width:61px;
  height:18px;
  display:flex;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1926 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u1926_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1927 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1928_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u1928 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:13px;
  width:7px;
  height:7px;
  display:flex;
}
#u1928 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1928_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1929_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:29px;
  height:7px;
}
#u1929 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:15px;
  width:25px;
  height:3px;
  display:flex;
}
#u1929 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1929_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1930_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u1930 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:23px;
  width:7px;
  height:7px;
  display:flex;
}
#u1930 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1930_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1931_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:29px;
  height:7px;
}
#u1931 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:25px;
  width:25px;
  height:3px;
  display:flex;
}
#u1931 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1931_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1932_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u1932 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:33px;
  width:7px;
  height:7px;
  display:flex;
}
#u1932 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1932_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1933_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:29px;
  height:7px;
}
#u1933 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:35px;
  width:25px;
  height:3px;
  display:flex;
}
#u1933 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1933_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1923_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:72px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1923_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1934 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:72px;
}
#u1934_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:72px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1934_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1935 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1936_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#050505;
}
#u1936 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:48px;
  width:61px;
  height:18px;
  display:flex;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#050505;
}
#u1936 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u1936_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1937 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1938_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u1938 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:13px;
  width:7px;
  height:7px;
  display:flex;
}
#u1938 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1938_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1939_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:29px;
  height:7px;
}
#u1939 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:15px;
  width:25px;
  height:3px;
  display:flex;
}
#u1939 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1939_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1940_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u1940 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:23px;
  width:7px;
  height:7px;
  display:flex;
}
#u1940 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1940_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1941_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:29px;
  height:7px;
}
#u1941 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:25px;
  width:25px;
  height:3px;
  display:flex;
}
#u1941 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1941_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1942_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u1942 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:33px;
  width:7px;
  height:7px;
  display:flex;
}
#u1942 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1942_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1943_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:29px;
  height:7px;
}
#u1943 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:35px;
  width:25px;
  height:3px;
  display:flex;
}
#u1943 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1943_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1944 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1945 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:30px;
  width:63px;
  height:69px;
}
#u1945_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:69px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1945_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1946_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#797979;
}
#u1946 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:5px;
  width:40px;
  height:40px;
  display:flex;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#797979;
}
#u1946 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1946_text {
  border-width:0px;
  white-space:nowrap;
}
#u1947_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#797979;
  text-align:center;
}
#u1947 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:45px;
  width:63px;
  height:18px;
  display:flex;
  font-size:14px;
  color:#797979;
  text-align:center;
}
#u1947 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u1947_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1945_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:69px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1945_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1948_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0A122A;
  text-align:center;
}
#u1948 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:45px;
  width:63px;
  height:18px;
  display:flex;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0A122A;
  text-align:center;
}
#u1948 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u1948_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1949_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FF9999;
}
#u1949 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:5px;
  width:40px;
  height:40px;
  display:flex;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FF9999;
}
#u1949 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1949_text {
  border-width:0px;
  white-space:nowrap;
}
#u1950 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1951 {
  position:absolute;
  left:235px;
  top:30px;
}
#u1951_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:68px;
  height:65px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1951_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1952 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1953 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1954_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u1954 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:7px;
  width:26px;
  height:26px;
  display:flex;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u1954 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1954_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1955_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:18px;
  height:7px;
}
#u1955 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:31px;
  width:14px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u1955 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1955_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1956_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lato Bold', 'Lato Regular', 'Lato';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#797979;
  text-align:center;
}
#u1956 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:7px;
  width:29px;
  height:26px;
  display:flex;
  font-family:'Lato Bold', 'Lato Regular', 'Lato';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#797979;
  text-align:center;
}
#u1956 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u1956_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1957_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
  text-align:center;
}
#u1957 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:47px;
  width:68px;
  height:18px;
  display:flex;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
  text-align:center;
}
#u1957 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u1957_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1951_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:68px;
  height:65px;
  visibility:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1951_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1958_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1958 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:7px;
  width:24px;
  height:24px;
  display:flex;
  color:#FCC62D;
}
#u1958 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1958_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1959 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1960 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1961_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u1961 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:7px;
  width:26px;
  height:26px;
  display:flex;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u1961 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1961_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1962_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:18px;
  height:7px;
}
#u1962 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:31px;
  width:14px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u1962 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1962_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1963_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lato Bold', 'Lato Regular', 'Lato';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#797979;
  text-align:center;
}
#u1963 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:7px;
  width:29px;
  height:26px;
  display:flex;
  font-family:'Lato Bold', 'Lato Regular', 'Lato';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#797979;
  text-align:center;
}
#u1963 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u1963_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1964_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0A122A;
  text-align:center;
}
#u1964 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:47px;
  width:68px;
  height:18px;
  display:flex;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0A122A;
  text-align:center;
}
#u1964 .text {
  position:absolute;
  width:100%;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u1964_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1965 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1966 {
  position:absolute;
  left:313px;
  top:30px;
}
#u1966_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:61px;
  height:65px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1966_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1967_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#797979;
}
#u1967 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:0px;
  width:40px;
  height:40px;
  display:flex;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#797979;
}
#u1967 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1967_text {
  border-width:0px;
  white-space:nowrap;
}
#u1968_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
  text-align:center;
}
#u1968 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:47px;
  width:61px;
  height:18px;
  display:flex;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
  text-align:center;
}
#u1968 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
}
#u1968_text {
  border-width:0px;
  word-wrap:break-word;
}
#u1969 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:6px;
  width:86px;
  height:91px;
}
#u1969_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:91px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1969_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1970 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1971_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-12px;
  width:98px;
  height:101px;
}
#u1971 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:5px;
  width:78px;
  height:81px;
  display:flex;
}
#u1971 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1971_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1972_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:43px;
}
#u1972 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:24px;
  width:58px;
  height:43px;
  display:flex;
  opacity:0.6;
}
#u1972 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1972_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1969_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:91px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1969_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1973 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1974_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-12px;
  width:98px;
  height:101px;
}
#u1974 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:5px;
  width:78px;
  height:81px;
  display:flex;
}
#u1974 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1974_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1975_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-12px;
  width:98px;
  height:101px;
}
#u1975 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:5px;
  width:78px;
  height:81px;
  display:flex;
}
#u1975 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1975_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1976_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:43px;
}
#u1976 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:24px;
  width:58px;
  height:43px;
  display:flex;
  opacity:0.6;
}
#u1976 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u1976_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
