.ax_default {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
.shape {
}
.image {
  color:#000000;
}
.box_1 {
}
.image1 {
}
.line {
}
.heading_1 {
  font-family:'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:rgba(10, 18, 42, 0.709803921568627);
  text-align:center;
}
.heading_2 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:'Lato';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#0A122A;
  text-align:center;
}
.heading_4 {
  font-family:'Lato Bold', 'Lato Regular', 'Lato';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#797979;
  text-align:left;
}
.heading_5 {
  font-family:'Lato';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#797979;
  text-align:center;
}
.heading_6 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.paragraph {
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(10, 18, 42, 0.498039215686275);
  text-align:left;
}
.form_hint {
  color:#999999;
}
.form_disabled {
}
.text_field {
  font-family:'Lato';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#0A122A;
  text-align:left;
}
.checkbox {
  text-align:left;
}
.radio_button {
  text-align:left;
}
.horizontal_line {
}
.connector {
}
.flow_shape {
  font-family:'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0A122A;
}
.icon {
}
.horizontal_line1 {
}
.box_3 {
}
.image2 {
}
.flow_shape1 {
}
.box_2 {
}
.ellipse {
}
.fontawesome {
}
.shape1 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.ellipse1 {
}
.label {
  font-size:14px;
  text-align:left;
}
.title {
  font-family:'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#0A122A;
}
.primary_text_dark {
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.866666666666667);
  text-align:left;
}
.secondary_text_dark {
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.537254901960784);
}
.flat_button {
  font-family:'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#2196F3;
}
.modal_text {
  font-family:'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#797979;
  text-align:center;
}
.menu_title {
  font-family:'Roboto Medium', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#1B9AAA;
  text-align:left;
}
.list_item {
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#050505;
  text-align:left;
}
.input_text {
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#797979;
}
.secondary_text {
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#797979;
  text-align:center;
}
.new_style {
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#797979;
  text-align:left;
}
